{% extends "layout.html" %}
{% block content %}
    <img src="digital_information.png" width="450" height="236" style="display:block;
    margin-top:20px; margin-left:auto; margin-right: auto;" alt="Image has not loaded">
    <h1 style="font-size:30px; text-align:center; margin:30px 0 40px;">A goal to
        cultivate data-driven critical thought</h1>
    <p margin-top:0px;>
        It seems that all discourse these days in the US—from dinner table
        debates to twitter disputes—is at risk of becoming tense.   
    </p>
    <p>
        Discussions are distorted by emotions. We misinterpret questions as
        attacks, and make uninformed statements. Ignorance is a common problem
        in our polarized society, already destabilized by internet
        misinformation. Mainstream news outlets and social media—whose profits
        are driven by our clicks and outrage—are deceptive and contradictory to
        one another. People are too busy with their lives and work (in some
        cases struggling to put food on the table), to sift through dense,
        jargon-ridden primary sources or the bias of a main-stream news article.
        We rely on word of mouth or sometimes just absorb what’s said
        repeatedly.
    </p>
    <p>
        Anecdotes and gut feelings are not enough anymore. Not against social
        platforms’ rapidly advancing technology that sways public thought. Not
        with Big Tech as well as governments continuing to hone manipulative
        digital tactics. Though it is not each of our faults that the
        information battlefield is so unnavigable, we still have a
        responsibility to be informed.
    </p>
    <p>
        The purpose of this endeavor is to present info on topics of perpetual
        interest (COVID-19 for now), cite sources, and describe how data
        analysis leads to conclusions. We will focus on providing thoughtful
        visualizations, including relevant info with sources accessible, and
        encouraging discussions as well as feedback about the platform. And
        we’ll do it all without a paywall. We often waste time arguing over
        topics we do not understand. Instead, we should educate ourselves, and
        develop our sacred intuition. Join our cause!
    </p>
{% endblock content %}
